// Colors
$primary-bg: #00A0FD;
$secondary-color: #72BE44;
$dark: #1F243D;
$dark-right: #26264F;
$page-bg: #F3F5F6;
$white: #fff;
$para-color: #7C828D;
$icon-color: #B0B2B8;
$label-color: #aaafba;
$text-color: #17191d;
$placeholder-color: #d1d6de;
$primary-color: #24AAC4;
$tab-text-color: #5B6375;
$border-color: #DEDFE1;


// media-queries

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;