
footer{
    background: $dark;  
    background: -webkit-linear-gradient(71deg, $dark, $dark-right 100%);  
    background: linear-gradient(71deg, $dark, $dark-right 100%); 
    padding: 2rem 0;
    
    .top{
        padding-bottom: 2rem;
        @media screen and (max-width: $md) {
            padding-bottom: 1rem;
        }
        
        .info{
            display: flex;
            align-items: center;
            @media screen and (max-width: $md) {
                margin: auto;
                width: fit-content;
                margin-bottom: 1rem;
            }
            
            span{
                margin-left: 1rem;
                font-size: 14px;
                color: $white;
                font-weight: 400;
                b{
                    font-weight: 600;
                }
                @media screen and (max-width: $sm) {
                    font-size: 12px;
                }
            }
        }
    }

    .page-links{
        border: 1px #5A5C74 solid;
        border-left: none;
        border-right: none;
        padding: 2rem 0;
        
        h5{
            font-size: 13px;
            color: $primary-color;
            font-weight: 700;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 1.09px;    
        }

        .nav-link {
            display: block;
            width: fit-content;
            padding: 0.5rem 0rem;
            font-size: 14px;
            color: $para-color;
            text-decoration: none;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
            &:hover{
                color: $white;
            }
        }

        .blog{
            @media screen and (max-width: 767px) {
                margin-top: 0.75rem;
            }
        }
    }

    .bottom{
        padding-top: 2rem;
        
        .logo{
            @media screen and (max-width: $sm) {
                text-align: center;
            }
        }

        .social-icons{
            margin-left: auto;
            width: fit-content;

            @media screen and (max-width: $sm) {
                margin: auto;
                margin-top: 1rem;
            }
            

            .icon{
                &:hover{
                    fill: #39afa0;
                }
            }
        }

        .secure-link{
            margin-top: 1rem;
            margin-left: auto;
            width: fit-content;

            @media screen and (max-width: $sm) {
                margin: auto;
                margin-top: 1rem;
            }
            
            .nav-link {
                display: block;
                padding: 0rem 0rem;
                padding-right: 10px;
                font-size: 14px;
                color: $para-color;
                margin-right: 0.5rem;
                border-right: 1px $para-color solid ;
                text-decoration: none;
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;

                &:hover{
                    color: $white;
                }

                @media screen and (max-width: $sm) {
                    font-size: 11px;
                    padding-right: 8px;

                }
            }
            @media screen and (max-width:$md) {
                                margin-right: auto;
                                justify-content: center;                
                            }
        }
    }
}